body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

.project {
    margin-bottom: 20px;
}

.project img {
    max-width: 100%;
    height: auto;
}
.grey-text {
    color: grey; /* Sets the text color to grey */
}



.video-container {
    position: relative;
    width: 100%; /* Take up full width of the parent */
    max-width: 100%; /* Ensure the video doesn't exceed parent width */
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (height/width = 9/16) */
    overflow: hidden; /* Hide overflow if any */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Make iframe fill the container */
    height: 100%; /* Ensure it scales properly */
}


.scrolling-text {
    width: 100%;
    overflow: hidden;
    
    text-align: left;
    position: relative;
}

.scrolling-text h1 {
    display: inline-block;
    font-size: 24px;
    color: white;
    white-space: nowrap;
    position: absolute;
    
    animation: scroll-left 40s linear infinite;
}


.invisible-link {
    color: inherit; /* Use the same color as surrounding text */
    text-decoration: none; /* Remove underline */
    cursor: pointer; /* Keep it clickable */
}
.invisible-link:hover {
    text-decoration: none; /* No underline on hover */
}




.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-gap: 0px; /* No gap between items */
     border: 1px solid white;
    width: 100%;
    max-width: 100%;
    margin-top: 50px;
    
}

.grid-item {
    border-left: 1px solid white;
    border-top: 1px solid white;
    padding: 100px 32px 100px 32px;
    text-align: left;
    font-size: 18px;
    height: 200px; /* Adjust height of each grid item */
    margin: 0px; /* Add negative margin */
}



footer {
    text-align: center; /* Center the text */
    padding: 20px 0; /* Add padding above and below */
    background-color: black; /* Set footer background to black */
    color: white; /* Make text white */
    font-size: 16px; /* Set font size */
}
